.producto-detalle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.producto-info {
  text-align: center;
  width: 100%;
}

.producto-contenido {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: start;
  width: 100%;
}

@media (min-width: 768px) {
  .producto-contenido {
    grid-template-columns: 1fr 1fr;
  }
}

.producto-imagen img {
  width: 90%;
  height: auto;
  border-radius: 8px;
}

.producto-info h1 {
  margin-top: 0;
  font-size: 2.5rem;
}

.producto-info .precio {
  font-size: 2rem;
  color: #e08709;
  font-weight: bold;
}



.producto-detalles-extra {
    margin-top: .2rem;
    padding: 1rem;
    background-color: #f8f8f8;
    border-radius: 8px;
    font-size: smaller;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto-detalles-extra h2 {
    margin-top: 1rem;
    color: #333;
}

.boton-verde {
  background-color: #71b100;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}


p{
  font-size: 1.5rem;
  color: #4d454d;
}

.lista-carrito {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.item-carrito {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  position: relative;
}



.detalle-carrito-linea {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
  flex: 1;
}

.marca-modelo {
  font-size: 1.8rem;
  font-weight: bold;
}

.precio-item {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.talle-item {
  font-size: 1.4rem;
  color: #333;
  font-weight: bold;
}



.total-carrito {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.precio-total {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.acciones-carrito {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}


.seccion-carrito{
  font-size: large;
}

.lista-carrito {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2rem;
}

.item-carrito {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
  font-size: 1.8rem;
}



.precio-item {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #71b100;
  /* mismo verde que el botón */
}


/* Tamaño de fuente para todos los campos */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
select,
textarea {
  font-size: 1.5rem;
  /* ajustá según tu diseño */
  font-family: inherit;
  /* mantiene la fuente general del sitio */
  line-height: 1.5;
}
