/* SeccionProductos.css */

/* Contenedor principal */
#productos {
    background-color: #fff;
    padding: 4rem 2rem;
}

/* Títulos */
#productos h2 {
    font-size: 3.4rem;
    font-weight: 300;
    margin-bottom: 3rem;
    text-align: center;
}

.titulo {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Iconos */
.columna i {
    background-color: #fff;
    font-size: 2.5rem;
    color:  #e08709;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.columna:hover i {
    background-color:  #e08709;
    color: #000;
}

/* Columnas */
.columna {
    border: 1px solid rgb(102, 101, 101);
    padding: 2rem;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.columna:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:  #f1d8c0;;
}

/* Descripciones */
.titulo-descripcion,
.parrafo {
    font-size: 1.5rem;
    color: #4d454d;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-align: justify;
}

/* Badges */
.badges-contenedor {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    font-weight: 200;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
    #productos {
        padding: 2rem 1rem;
    }

    .columna {
        margin-bottom: 2rem;
    }

    .titulo {
        font-size: 2.4rem;
    }

    .titulo-descripcion,
    .parrafo {
        font-size: 1.3rem;
    }
}


/* Espaciado horizontal entre columnas */
.row.productos {
  display: flex;
  gap: 1rem; /* o 1rem si preferís más compacto */
  flex-wrap: wrap;
  justify-content: center;
}

.columna {
  flex: 1 1 30%;
  min-width: 200px;
}